/* Set Up */
*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
}
html{
    width: 400%;
    background-color: white;
    opacity: 1;
}
#container {
    height: 100%;
}
/* End Set Up*/
/* Header */
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 12%;
    min-width: 492px;
    min-height: 144.8px;
    z-index: 2;
}
#brand{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    transition-property: color;
    width: 50%;
    min-width: 415px;
    height: 100%;
}
.logo-div{
    position: relative;
    height: 100%;
    width: 145px;
    transform: translateX(44vw) translateY(40vh) scale(2);
    transition-duration: 0.7s, 0.7s;
    transition-property: transform, -webkit-filter;
    transition-timing-function: ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
}
.logo-move{
    transform: translateX(0) translateY(0) scale(1);
}
.logo-svg{
    position: relative;
    /*padding: 30px 40px 30px 30px;*/
    padding: 20% 30% 20% 20%;
    height: 100%;
    stroke: black;
    fill: black;
}
.name {
    height: 100%;
    display: flex;
    align-items: center;
    left: 300%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(0px);
    visibility: visible;
    opacity: 1;
}
#sections-landscape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    width: 50%;
    min-width: 168px;
    height: 100%;
    margin-right: 70px;
}
.landscape-gd-title-div{
    width: 150px;
    height: 50px;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
}
.landscape-gd-title {
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-weight: 400;
    font-size: 17px;
}
.landscape-ui-title-div{
    width: 150px;
    height: 50px;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
}
.landscape-ui-title{
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-weight: 400;
    font-size: 17px;
}
.landscape-id-title-div{
    width: 150px;
    height: 50px;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
}
.landscape-id-title{
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-weight: 400;
    font-size: 17px;
}
#portrait-sections-menu, #portrait-sections {
    display: none;
}
/* End Header */

/* Sections */
.gd-example-div-1 {
    position: absolute;
    width: 20vw;
    height: 20vh;
    top: 60%;
    left: 10%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-1 {
    height: 85%;
}
.gd-example-div-2 {
    position: absolute;
    width: 25vw;
    height: 25vh;
    top: 15%;
    left: 40%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.gd-example-svg-2 {
    width: 85%;
    height: 85%;
    z-index: 0;
}
.gd-example-div-3 {
    position: absolute;
    width: 20vw;
    height: 8vh;
    top: 55%;
    left: 50%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-3 {
    width: 85%;
    height: 85%;
}
.gd-example-div-4 {
    position: absolute;
    width: 12vw;
    height: 15vh;
    top: 80%;
    left: 45%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-4 {
    width: 85%;
    height: 85%;
}
.gd-example-div-5 {
    position: absolute;
    width: 25vw;
    height: 10vh;
    top: 23%;
    left: 5%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-5 {
    width: 85%;
    height: 85%;
}
/* End Sections */
/* Text */
h1{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-variant: small-caps;
}
.bold-title {
    font-weight: 500;
}
/* End Text */

/*Modification Classes */
.unBlur{
    -webkit-filter: blur(0px);
    z-index: 0;
}
.blur{
    -webkit-filter: blur(5px);
}
.moreBlur{
    -webkit-filter: blur(10px);
}
.invisible {
    visibility: hidden;
    opacity: 0;
}