/* Set Up */
*{
    box-sizing: border-box;
    cursor: default;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    overflow: hidden;
}
html{
    width: 200vw;
    background-color: white;
    opacity: 1;

}
#container {
    height: 100%;

}
#content {
    height: 100%;
    z-index: -2;
}
#graphic-design {
    width: 200vw;
}
/* End Set Up*/
/* Header */
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 12%;
    min-width: 492px;
    min-height: 144.8px;
    z-index: 2;
}
#brand{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    transition-property: color;
    width: 50%;
    min-width: 415px;
    height: 100%;
    z-index: 2;
}
.logo-div{
    position: relative;
    width: 290px;
    height: 290px;
    min-width: 145px;
    transform: translateX(50vw) translateY(50vh) scale(1);
    margin-top: -145px;
    margin-left: -145px;
    transition-duration: 0.7s, 0.7s, 0.7s, 0.7s;
    transition-property: transform, -webkit-filter, margin-left, margin-top;
    transition-timing-function: ease, ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    z-index: 2;
}
.logo-move{
    transform: translateX(0) translateY(0) scale(1);
    width: 145px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}
.logo-svg{
    position: relative;
    /*padding: 30px 40px 30px 30px;*/
    padding: 20% 20% 20% 20%;
    height: 100%;
    stroke: black;
    fill: black;
    z-index: 2;
}
.name {
    height: 100%;
    min-width: 220px;
    display: flex;
    align-items: center;
    left: 300%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(0px);
    visibility: visible;
    opacity: 1;
}
.click {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 50vh;
    left: 50vw;
    margin-top: 80px;
    margin-left: -75px;
    text-align: center;
    transition-duration: 2.5s, 0.7s;
    transition-property: -webkit-filter, opacity;
    transition-timing-function: ease, ease;
    -webkit-filter: blur(75px);
    opacity: 1;
    font-size: 16px;
}
.mobile-coming-soon {
    visibility: hidden;
}
#sections-landscape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    width: 50%;
    min-width: 393px;
    height: 100%;
    margin-right: 70px;
}
.landscape-gd-title-div{
    width: 170px;
    height: 100px;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landscape-gd-title {
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    font-size: 12px;
}
.landscape-ui-title-div{
    width: 170px;
    height: 100px;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landscape-ui-title{
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}
.landscape-id-title-div{
    width: 170px;
    height: 100px;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landscape-id-title{
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}
#portrait-sections-menu, #portrait-sections {
    display: none;
}
/* End Header */

/* Sections */
.gd-example-div-1 {
    position: absolute;
    width: 20vw;
    height: 25vh;
    top: 60%;
    left: 7%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-1 {
    width: 55%;
    z-index: 1;
}
.gd-example-div-2 {
    position: absolute;
    width: 28vw;
    height: 28vh;
    top: 10%;
    left: 45%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.gd-example-svg-2 {
    width: 75%;
    height: 75%;
    z-index: 0;
}
.gd-example-div-3 {
    position: absolute;
    width: 23vw;
    height: 13vh;
    top: 45%;
    left: 30%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-3 {
    width: 75%;
}
.gd-example-div-4 {
    position: absolute;
    width: 18vw;
    height: 21vh;
    top: 70%;
    left: 35%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-4 {
    width: 75%;
    height: 75%;
}
.gd-example-div-5 {
    position: absolute;
    width: 28vw;
    height: 15vh;
    top: 23%;
    left: 5%;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-5 {
    width: 80%;
    height: 70%;
}
.gd-examples-div-678 {
    position: absolute;
    display: flex;
    width: 45vw;
    height: 30vh;
    top: 55vh;
    left: 65vw;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
}
.gd-example-div-6 {
    width: 15vw;
    height: 30vh;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-6 {
    width: 70%;
}
.gd-example-div-7 {
    width: 15vw;
    height: 30vh;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-7 {
    width: 70%;
}
.gd-example-div-8 {
    width: 15vw;
    height: 30vh;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-8 {
    width: 70%;
}
.gd-example-div-9 {
    position: absolute;
    width: 22vw;
    height: 15vw;
    top: 20vh;
    left: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s, 0.7s, 0.7s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
}
.gd-example-svg-9 {
    width: 70%;
}
.gd-osb-description {
    position: absolute;
    top: 20vh;
    left: 10vw;
    min-width: 380px;
    width: 27vw;
    transition-duration: 0.3s, 0.7s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, linear, ease;
    -webkit-filter: blur(0px);
    visibility: visible;
    opacity: 1;
}
.gd-euh-description {
    position: absolute;
    top: 15vh;
    left: 55vw;
    min-width: 380px;
    width: 27vw;
    transition-duration: 0.3s, 0.7s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, linear, ease;
    -webkit-filter: blur(0px);
    visibility: visible;
    opacity: 1;
}
.gd-description {
    position: absolute;
    top: 25vh;
    left: 76vw;
    min-width: 380px;
    width: 27vw;
    transition-duration: 0.3s, 0.7s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, linear, ease;
    -webkit-filter: blur(0px);
    visibility: visible;
    opacity: 1;
}
/* End Sections */
.coming-soon {
    position: fixed;
    width: 150px;
    height: 50px;
    top: 50vh;
    left: 50vw;
    margin-top: -25px;
    margin-left: -75px;
    text-align: center;
    transition-duration: 0.3s, 0.7s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, linear, ease;
    -webkit-filter: blur(5px);
    opacity: 1;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-div {
    position: absolute;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-property: -webkit-filter, opacity;
    -webkit-filter: blur(5px);
    top: 50%;
    margin-top: -20vh;
    left: 117.5vw;
    width: 65vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about {
    position: relative;
    text-align: justify;
    width: 70%;
}
/* Text */
h1{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-variant: small-caps;
}
h2{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    line-height: 20px;
}
h3{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    line-height: 100px;
}
h4{
    font-family: 'Quatro';
    font-weight: 300;

    line-height: 25px;
    font-size: 20px;
}
h5{
    font-family: 'Quatro';
    font-weight: 300;

    line-height: 40px;
    font-size: 25px;
}
/* End Text */

/*Modification Classes */
.unBlur{
    -webkit-filter: blur(0px);

}
.blur{
    -webkit-filter: blur(5px);

}
.moreBlur{
    -webkit-filter: blur(15px);

}
.invisible {
    visibility: hidden;
    opacity: 0;
}
.noOpacity {
    opacity: 0;
}