/* Set Up */
*{
    box-sizing: border-box;
    cursor: default;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    overflow: hidden;
}
html{
    height: 200vh;
    width: 100vw;
    background-color: white;
    opacity: 1;

}
#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 144.8px;
    background-color: white;
    z-index: 5;
}
#header-op-div {
    position: fixed;
    top: 144.7px;
    height: 144.8px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 5;
}
#content {
    position: relative;
    height: 80%;
}
#bottom-op-div {
    position: fixed;
    bottom: 144.7px;
    height: 144.8px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    z-index: 5;
}
#bottom{
    position: fixed;
    bottom: 0;
    height: 144.8px;
    background-color: white;
    width: 100%;
    z-index: 5;
}
#graphic-design {
    width: 200vw;
}
/* End Set Up*/
/* Header */

#brand{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    transition-property: color;
    width: 50%;
    min-width: 415px;
    height: 100%;
    z-index: 6;
}
.logo-div{
    position: relative;
    width: 12vw;
    transform: translateX(50vw) translateY(50vh) scale(1);
    margin-top: -6vw;
    margin-left: -6vw;
    transition-duration: 0.7s, 0.7s, 0.7s, 0.3s;
    transition-property: transform, -webkit-filter, margin-left, margin-top;
    transition-timing-function: ease, ease, ease, ease;
    -webkit-filter: blur(5px);
    visibility: visible;
    opacity: 1;
    z-index: 6;
}
.logo-move {
    transform: translateX(0) translateY(0) scale(1);
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.logo-svg {
    position: relative;
    /*padding: 30px 40px 30px 30px;*/
    padding: 20% 20% 20% 20%;
    height: 100%;
    z-index: 6;
}
.name {
    position: absolute;
    height: 100%;
    min-width: 220px;
    display: flex;
    align-items: center;
    left: 14vw;
    transition-duration: 0.3s, 0.7s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(0px);
    visibility: visible;
    opacity: 1;
}
.hoverandclick {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 50vh;
    left: 50vw;
    margin-top: 80px;
    margin-left: -75px;
    text-align: center;
    transition-duration: 2.5s, 0.7s;
    transition-property: -webkit-filter, opacity;
    transition-timing-function: ease, ease;
    -webkit-filter: blur(75px);
    opacity: 1;
    font-size: 16px;
}

.tap {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50vh;
    left: 50vw;
    margin-top: 80px;
    margin-left: -25px;
    text-align: center;
    transition-duration: 2.5s, 0.7s;
    transition-property: -webkit-filter, opacity;
    transition-timing-function: ease, ease;
    -webkit-filter: blur(75px);
    opacity: 1;
    font-size: 16px;
}
.mobile-coming-soon {
    visibility: hidden;
}

.copyright {
    position: fixed;
    bottom: 0;
    left: 32px;
    transition-duration: 0.7s, 0.7s, 0.7s, 0s;
    transition-property: transform, -webkit-filter, opacity, visibility;
    transition-timing-function: ease, ease, ease, ease;
    opacity: 1;
    z-index: 6;
}
#sections-landscape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    width: 50%;
    min-width: 393px;
    height: 100%;
    margin-right: 70px;
}
.landscape-gd-title-div{
    width: 170px;
    height: 100px;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landscape-gd-title {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    font-size: 12px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.landscape-ui-title-div{
    width: 170px;
    height: 100px;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landscape-ui-title{
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.landscape-id-title-div{
    width: 170px;
    height: 100px;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landscape-id-title{
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
#portrait-sections-menu, #portrait-sections {
    display: none;
}
/* End Header */

/* Sections */

.gd-example-div-1 {
    position: absolute;
    width: 20vw;
    height: 25vh;
    top: 20vh;
    left: 80vw;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;

    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-1 {
    width: 55%;
    z-index: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.gd-example-div-2 {
    position: absolute;
    width: 28vw;
    height: 28vh;
    top: 12vh;
    left: 45vw;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.gd-example-svg-2 {
    width: 75%;
    height: 75%;
    z-index: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.gd-example-div-3 {
    position: absolute;
    width: 23vw;
    height: 13vh;
    top: 45vh;
    left: 30vw;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-3 {
    width: 75%;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.gd-example-div-4 {
    position: absolute;
    width: 18vw;
    height: 21vh;
    top: 70vh;
    left: 37vw;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;

    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-4 {
    width: 75%;
    height: 75%;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.gd-example-div-5 {
    position: absolute;
    width: 28vw;
    height: 15vh;
    top: 23%;
    left: 5%;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-5 {
    width: 80%;
    height: 70%;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.gd-examples-div-678 {
    position: absolute;
    display: flex;
    width: 45vw;
    height: 30vh;
    top: 55vh;
    left: 65vw;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
}
.gd-example-div-6 {
    width: 15vw;
    height: 30vh;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-6 {
    width: 70%;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.gd-example-div-7 {
    width: 15vw;
    height: 30vh;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-7 {
    width: 70%;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.gd-example-div-8 {
    width: 15vw;
    height: 30vh;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gd-example-svg-8 {
    width: 70%;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.gd-example-div-9 {
    position: absolute;
    width: 22vw;
    height: 15vw;
    top: 60vh;
    left: 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, ease, ease;
    -webkit-filter: blur(4px);
    visibility: visible;

}
.gd-example-svg-9 {
    width: 70%;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.gd-osb-description {
    position: fixed;
    bottom: 0;
    right: 34px;
    width: 912px;
    transition-duration: 0.3s, 0s, 0.3s, 0.3s;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-property: -webkit-filter, visibility, opacity, transform;
    transition-timing-function: ease, linear, ease, ease;
    -webkit-filter: blur(0px);
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1076px) {
    .gd-osb-description {
        transform: translateY(-32px);
    }
}

@media screen and (max-width: 893px) {
    .gd-osb-description {
        left: 34px;
        justify-content: flex-start;
    }
}

.gd-euh-description {
    position: fixed;
    bottom: 0;
    right: 34px;
    width: 912px;
    transition-duration: 0.3s, 0s, 0.3s, 0.3s;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-property: -webkit-filter, visibility, opacity, transform;
    transition-timing-function: ease, linear, ease, ease;
    -webkit-filter: blur(0px);
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
}

.gd-description {
    position: absolute;
    top: 25vh;
    left: 76vw;
    min-width: 380px;
    width: 27vw;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, linear, ease;
    -webkit-filter: blur(0px);
    visibility: visible;
    opacity: 1;
}
/* End Sections */
.coming-soon {
    position: fixed;
    width: 150px;
    height: 50px;
    top: 50vh;
    left: 50vw;
    margin-top: -25px;
    margin-left: -75px;
    text-align: center;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-property: -webkit-filter, visibility, opacity;
    transition-timing-function: ease, linear, ease;
    -webkit-filter: blur(4px);
    opacity: 1;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-div {
    position: absolute;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-property: -webkit-filter, opacity;
    -webkit-filter: blur(4px);
    top: 120vh;
    margin-top: -20vh;
    left: 50vw;
    margin-left: -40vw;
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about {
    width: 70%;
}
/* Text */
h1{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-variant: small-caps;
}
h2{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    line-height: 20px;
}
h3{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    line-height: 100px;
}
h4{
    text-align: justify;
    font-family: 'Quatro', sans-serif;
    font-weight: 300;
    line-height: 25px;
    font-size: 16px;
}
h5{
    text-align: justify;
    font-family: 'Quatro', sans-serif;
    font-weight: 300;
    line-height: 25px;
    font-size: 16px;
}
h6{
    font-family: 'Quatro', sans-serif;
    font-weight: 300;
    line-height: 25px;
    font-size: 16px;
}
/* End Text */

/*Modification Classes */
.unBlur{
    -webkit-filter: blur(0px);

}
.moreBlur{
    -webkit-filter: blur(7px);

}
.lessOpacity{
    opacity: 0.8;
}
.invisible {
    transition-delay: 0s, 0.3s, 0s;
    visibility: hidden;
    opacity: 0;
}
.noOpacity {
    opacity: 0;
}